<%-include('../partials/links')%>

<nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark sticky-top" aria-label="Furni navigation bar" style="text-decoration-color: black;">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand" href="index.html">headphonecart<span> <i class="fa-solid fa-headphones"></i></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="navbar-nav ml-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li><a class="nav-link" href="/shop">Shop</a></li>
                <li><a class="nav-link" href="about.html">About us</a></li>
                <li><a class="nav-link" href="services.html">Services</a></li>
                <li><a class="nav-link" href="blog.html">Blog</a></li>
                <li><a class="nav-link" href="contact.html">Contact us</a></li>
            </ul>
            <ul class="navbar-nav mb-2 mb-md-0 ml-auto">
                <li><a class="nav-link" href="/wishlist"><i class="fa-solid fa-heart"></i> Fav</a></li>
                <li><a class="nav-link" href="/cart"><i class="fas fa-shopping-cart"></i> Cart</a></li>
                <li><a class="nav-link" href="/userProfile"><i class="fas fa-user"></i> Profile</a></li>
                <li><a class="nav-link"  href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
