<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>
        Put your heart, mind, and soul into even your smallest acts. This is the secret of success.
        Music is the strongest form of magic. Music is the divine way to tell beautiful, poetic things to the heart. If music be the food of love, play on. Beautiful music is the art of the prophets that can calm the agitations of the soul; it is one of the most magnificent and delightful presents God has given us.

    </h3>
    <img src="/upload/neckband.jpg" alt="">
</body>
</html>